<div class="limiter">
    <div class="container-login100">
        <div class="filter-buttons">
            <div class="list-view-button" (click)="onToggleList()"><i class="fa fa-bars" aria-hidden="true"></i> List view</div>
            <div class="grid-view-button" (click)="onToggleGrid()"><i class="fa fa-th-large" aria-hidden="true"></i> Grid view</div>
          </div>
          
          
          <ol [ngClass]="{'list-view-filter': toggleList, 'grid-view-filter': !toggleList}" class="list">
            <li class="pointer" *ngFor="let account of accounts" (click)="copyToClipboard(account.password)">
              <i class="fa fa-trash" (click)="onDelete(account.name)"></i>
              {{account.name}}
            </li>
          </ol>

    </div>
  </div>