<div class="limiter">
    <div class="container-login100">
        <div class="filter-buttons">
            <div class="list-view-button" (click)="onToggleList()"><i class="fa fa-bars" aria-hidden="true"></i> List view</div>
            <div class="grid-view-button" (click)="onToggleGrid()"><i class="fa fa-th-large" aria-hidden="true"></i> Grid view</div>
          </div>
          
          
          <ol [ngClass]="{'list-view-filter': toggleList, 'grid-view-filter': !toggleList}" class="list">
            <li>List item 1</li>
            <li>List item 2</li>
            <li>List item 3</li>
            <li>List item 4</li>
            <li>List item 5</li>
            <li>List item 6</li>
          </ol>

    </div>
  </div>