<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="navbar-default">
    <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="isAuthenticated">
        <a class="nav-link" (click)="onLogOut()" >Logout</a>
      </li>
    </ul>
    <button *ngIf="isAuthenticated" class="btn btn-outline-success add" (click)="onAdd()">Add Account</button>
  </div>
  <form #f="ngForm" class="form-inline">
    <div *ngIf="isAuthenticated">
      <section class="flexbox">
        <div class="input-group prepend">
          <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></span>
        </div>
        <div class="stretch">
          <input type="search" aria-label="Search" (keyup)="performSearch($event)" id="search" name="search" ngModel>
        </div>
      </section>
    </div>
  </form>
  <a class="icon" style="cursor: pointer; font-size:15px; color: green" (click)="toggleIcon()">&#9776;</a>
</nav>
<div class="topnav" id="myTopnav">
  <div *ngIf="isAuthenticated">
    <a (click)="onAdd()">Add Account</a>
    <a (click)="onLogout()">Logout</a>
  </div>
</div>